<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por Capital</h2>
    <hr>

    <div class="row">
        <div class="col">
            <!-- placeholder="buscar capital -> de esta manera le estamos mandando a pais-input.component la propiedad como tal y la recibimos como un input" -->
            <app-pais-input (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)"
                placeholder="buscar capital ...">
            </app-pais-input>
        </div>

        <hr>

        <div *ngIf="hayError" class="alert alert-danger">
            No se encontro nada con el término {{ termino }}
        </div>

        <div *ngIf="capitales.length > 0" class="row">
            <div class="col">
                <!-- @Input desde pais-tabla.component -->
                <app-pais-tabla [paises]="capitales"></app-pais-tabla>
            </div>
        </div>
    </div>
</div>