<h3>Agregar <small>{{nuevo.nombre}}</small></h3>
<hr>

<form (ngSubmit)="agregar()">
    <!-- Es necesario poner el atributo name junto con el valor que necesitamos con el ngModel -->
    <!-- {} -> Indican que esta escuchando el evento, () -> emite el evento -->
    <input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="nuevo.nombre" />
    <input type="text" placeholder="Poder" name="poder" [(ngModel)]="nuevo.poder" />

    <button type="submit">
        Agregar
    </button>
</form>